In [299]:
import pandas as pd
import numpy as np
import inspect
from openpyxl import load_workbook

In [292]:
path = "/home/anshul/Downloads/Raw Material Buy List.xlsx"
book = load_workbook(path)
reader = pd.ExcelWriter(path, engine = 'openpyxl')

xls = pd.ExcelFile(path)
writer.book = book

path = "/home/anshul/Downloads/computed.xlsx"
writer = pd.ExcelWriter(path, engine = 'openpyxl')

In [293]:
computed

,Date,Particular,Qty,Rate,Value,Fright,Expenses,R/off,Total,Avg Cost,Cost per lot
0,3.12,M Square,10.000000,5400.000000,54000.000000,160.000000,450.000000,0.000000,54610.000000,5461.000000,54610.000000
1,3.12,Bilaigarh,7.000000,5400.000000,37800.000000,0.000000,0.000000,0.000000,37800.000000,5400.000000,37800.000000
2,3.12,0,0.818182,5536.000000,4529.454545,0.000000,0.000000,11.000000,4540.454545,5719.673540,4679.732896
3,3.12,0,7.818182,0.000000,0.000000,3340.000000,400.000000,11.000000,46080.454545,5719.673540,44717.447673
4,3.12,0,17.818182,0.000000,0.000000,0.000000,850.000000,0.000000,100690.454545,5719.673540,101914.183068
5,3.12,Sum,43.454545,16336.000000,96329.454545,3500.000000,1700.000000,22.000000,243721.363636,28020.020619,243721.363636
6,3.12,Mean,1.000000,375.933054,2216.786611,80.543933,39.121339,0.506276,5608.650628,644.812190,5608.650628

In [302]:
date_aggregate = {"Date": [], "Qty": [], "Total Cost": [], "avg day cost": []}
for sheet_name in xls.sheet_names:
    if sheet_name != "summary": 
        s1 = pd.read_excel(reader, sheet_name=sheet_name).fillna(0)
        s1["Date"] = sheet_name
        sums, computed = aggregate_costs(s1)
        computed.to_excel(writer, sheet_name=sheet_name)
        
        day_agg = computed.loc[computed["Particular "]== "Sum"].reset_index()
        date_aggregate["Date"].append(day_agg.Date[0])
        date_aggregate["Qty"].append(day_agg.Qty[0])
        date_aggregate["Total Cost"].append(day_agg.Total[0])
        date_aggregate["avg day cost"].append(day_agg.Total[0]/day_agg.Qty[0])

date_aggregate["Date"].append("Month")
total_q = np.sum(date_aggregate["Qty"])
date_aggregate["Qty"].append(total_q)
total_c = np.sum(date_aggregate["Total Cost"])
date_aggregate["Total Cost"].append(total_c)
date_aggregate["avg day cost"].append(total_c/total_q)

summary = pd.DataFrame.from_dict(date_aggregate)
summary.to_excel(writer, sheet_name="Summary")
writer.save()

<ipython-input-145-1163f99c3c60>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s1["Avg Cost"][i] = customer_cost

In [159]:
# !pip install openpyxl

In [153]:
s1.columns

Index(['Date', 'Particular ', 'Qty', 'Rate', 'Value', 'Fright', 'Expenses',
       'R/off', 'Total', 'Avg Cost', 'Cost per lot'],
      dtype='object')